.card {
    background: white;
    width: 280px;
    height: 286px;
    border-radius: 12px;
    padding: 17px;
}
.cards {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 30px;
}

.card-title{
  font-size: 13px;
  font-weight: 400;  
}