#SidebarLeft {
    padding: 16px;
    position: fixed;
    top: 100px;
    ul{
        width: 248px;
        height: 348px;

        li {
            width: 100%;
            height: 54px;
            border-radius: 12px;
            padding: 12px 16px;
            color: black;
            transition: all 0.1s;
        }
        li:hover {
        background-color: #FC6736;
        color: white;
        }
    }
}
