 .login-body {
    background-image: url('./Background.png');
    height: 100vh;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow:hidden;
}

.form-container{
    width: 450px;
    height: 472px;
    margin-top: 142px;
    margin-left: 140px;
    background: white;
    padding: 30px;
    border-radius: 16px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}

form{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    gap: 18px;



}
 form input {
    width: 95%;
    border-radius: 5px;
    border: 2px solid #A8ABB2;
    padding: 11px 15px;
    height: 40px;
 }
 form button {
    width: 95%;
    border-radius: 5px;
     height: 40px;
     color: white;
     font-weight: 600;
     background: #FC6736;
     border: none;
 }

.form-container  img{
   width: 100px;
}

