*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
}
body {
  font-family: sans-serif;
 
}

main,.cards {
  margin-left: 310px;
}


body {
  background: #F1F3F5;
  position: relative;
  
}
.cards{
  margin-right: ;
}